* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

body {
  background: #ffeed2;
}

header {
  height: 100px;
  background: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  width: 1200px;
  margin: 0 auto;
}

.item_area {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 20px;
}

.item_area .item_info_head {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: #ffe286;
  border-radius: 20px 20px 0 0;
}

.item_area .item_info_body {
  flex-grow: 1;
}

.item_area .item_info_footer {
  display: flex;
  justify-content: center;
  background: #ffe286;
  height: 20px;
  border-radius: 0 0 10px 10px;
}

article #picture {
  width: 440px;
  height: 280px;
  position: relative;
  top: 20px;
  left: 40px;
}

article #intro {
  width: 440px;
  height: 480px;
  position: relative;
  top: 40px;
  left: 40px;
}

article #intro .detail_category {
  height: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 25px;
}

article #intro ul {
  margin: 0 30px;
}

article #intro ul span:nth-child(1) {
  font-weight: bolder;
  color: coral;
}

article #intro ul span:nth-child(2) {
  color: chocolate;
}

article #intro ul > li {
  margin-top: 5px;
}

article #map {
  width: 600px;
  height: 500px;
  position: absolute;
  top: 120px;
  right: 405px;
}

article #review {
  width: 600px;
  height: 255px;
  position: absolute;
  bottom: 33px;
  right: 405px;
}
